body {
  background-color: #eef9bf;
}

.website {
  display: flex;
  height: auto;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.game-title {
  font-weight: 700;
  color: #75b79e;
  font-size: 56px;
  margin: 40px auto;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 120px;
  background-color: #99cea8;
  right: 12vw;
  font-size: 40px;
  color: #ffffff;
  border-radius: 8px;
}

main {
  height: 100%;
  padding: 0 12vw 5vh 12vw;
}

ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  height: 200px;
  width: 150px;
  margin: 20px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
  border: 1px solid #99cea8;
  border-radius: 8px;
  background-color: #a7e9af;
}

.card > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card img {
  height: 100px;
}

.card.active,
.card.pair-found {
  transform: rotateY(180deg);
}

.frontface {
  transform: rotateY(-180deg);
}
